.mainBox{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.mainVideoContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainVideoStyle {
    min-height: 100vh;
    width: auto;
    object-fit: cover;
}