/* Header styles */
.header-space{
    height: 108px;
    width: 100%;
}

.header-frame {
    height: 108px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(20, 19, 43, 1);
    transition: background 2s ease, opacity 1s ease;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-frame.scrolled {
    background: linear-gradient(to bottom, rgba(20, 19, 43, 1) 0%, rgba(20, 19, 43, 0) 100%);
    transition: background 1s ease, opacity 1s ease;
    opacity: 0.5;
}

.header-frame.scrolled:hover {
    background: rgba(20, 19, 43, 1);
    opacity: 1;
}

.leftBox {
    height: 100%;
    width: 10%;
    display: flex;
    padding: 10px;
}

.rightBox {
    height: 100%;
    width: 90%;
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
    align-items: center;
}

.menuButton {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.menuButton:hover {
    transform: scale(1.11);
}

.menuText {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #F9F8FB;
    letter-spacing: -0.01em;
}

.menuText:hover {
    color: darkgrey;
}
.responsive-image {
    height: auto;
    width: 100px;
}

/* Footer styles */
.footer-frame {

    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(20, 19, 43, 1);
    z-index: 1000;
    margin-bottom: 0px;
}
.box1-3 {
    height: auto;
    width: 33.33%;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}
.footerText {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #F9F8FB;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 300px;
}
.footer-mainText {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    Line-height: 100%;
    color: #F9F8FB;
    text-align: center;
    letter-spacing: -0.03em;
    margin:20px;
}
.footer-copyright {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(15, 14, 34, 1);
    z-index: 1000;
    position: page;
    margin-top: auto;
    justify-content: center;
}
.footerCopyright {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #F9F8FB;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 400px;
}

@media screen and (max-width: 1250px) {
    body {
        height: auto;
    }

    .header-frame {
        height: 80px;
    }

    .menuButton {
        margin-left: 15px;
    }

    .menuText {
        font-size: 14px;
    }

    .responsive-image {
        height: auto;
        width: 80px;
    }
}

@media screen and (max-width: 600px) {
    .footer-frame {
        flex-direction: column;
        height: fit-content;
    }

    .box1-3 {
        width: 70%;
    }
}